.button-a {
    padding: 10px 20px;
    font-size: 18px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  .button-b {
    padding: 10px 20px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  